*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html,body{
    height: 100%;
    width: 100%;
}

#wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(111, 219, 111);
}

#wraper #container{
    overflow: hidden;
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
}

#wraper #container #topnvgtn{
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    background-color: rgb(17, 158, 17);
}

.info1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 13%;
    /* background-color: rosybrown; */
}

.info1 h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.info2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 70%;
    border-radius: 5px;
    background-color: white;
}

.info2 p{
    font-size: 18px;
    font-weight: 700;
    color: rgb(111, 219, 111);
}

#wraper #container #bottomnvgtn{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    height: calc(100% - 70px);
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(17, 158, 17);
    border-radius: 50%;
    margin-right: 10px;
}

.circle p{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

#msg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}